
.file-list-wrap{

}

.file-list-wrap ul{
    border:1px solid;
    cursor: default;
    list-style: none;
    padding: 0;
}

.file-list-wrap li{
    padding: 10px 30px;
}

.file-list-wrap li:hover{
    background-color: #faec9b;
    cursor: pointer;
}
